<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Info de {{ infoType }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="infoType === 'bateau'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.nom }}">
      </div>
      <h2 class="info-title">{{ item.nom }}</h2>
      <h3 class="info-subtitle">{{ item.taille }} - {{ item.Type }}</h3>
      <div class="info-details">
        <p><strong>Nombre d'employés:</strong> {{ item.nbEmployer }}</p>
        <p><strong>Type de Pêche:</strong> {{ item.typedePache }}</p>
        <p><strong>Spécialité:</strong> {{ item.specialite }}</p>
        <p><strong>Lieu de Pêche:</strong> {{ item.lieuDePache }}</p>
        <p><strong>Ancienneté:</strong> {{ item.anciente }} ans</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="infoType === 'restaurant'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.name }}">
      </div>
      <h2 class="info-title">{{ item.name }}</h2>
      <h3 class="info-subtitle">{{ item.city }}</h3>
      <div class="info-details">
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Plat Signature:</strong> {{ item.signature_dish }}</p>
        <p><strong>Note:</strong> {{ item.rating }} / 5</p>
        <p><strong>Prix Global:</strong> {{ item.global_price }} €</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="infoType === 'recette'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.nom }}">
      </div>
      <h2 class="info-title">{{ item.nom }}</h2>
      <!-- Ajout de la section de difficulté, kcal et portions -->
      <div class="info-recette-details">
        <div class="ligne-infos">
          <span>difficulté : <strong>{{ item.niveauDeDifficulte }}</strong></span>
          <span> - </span>
          <span>Kcal/100g : <strong>{{ item.calories }}</strong></span>
          <span> - </span>
          <span> Quantité <strong>{{ item.nombreDePortions }}</strong></span>
        </div>
        <div class="ligne-infos">
          <span>préparation <strong>{{ extractNumber(item.tempsDePreparation) }}</strong></span>
          <span> - </span>
          <span>cuisson <strong>{{ extractNumber(item.tempsDeCuisson) }}</strong></span>
          <span> - </span>
          <span>Temps total : <strong>{{ getTotalTime(item.tempsDePreparation, item.tempsDeCuisson)}}</strong></span>
        </div>
        <p><strong>Allergènes:</strong> {{ item.allergenes.join(', ') }}</p>
      </div>

      <div class="info-details">
        <p><strong>Ingrédients:</strong></p>
        <ul>
          <li *ngFor="let ingredient of item.ingredients">{{ ingredient }}</li>
        </ul>
        <p><strong>Instructions:</strong></p>
          <ol>
            <li *ngFor="let instruction of item.instructions">{{ instruction }}</li>
          </ol>
        
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="infoType === 'produit'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.name }}">
      </div>
      <h2 class="info-title">{{ item.name }}</h2>
      <h3 class="info-subtitle">Catégorie: {{ item.category }}</h3>
      <div class="info-details">
        <p><strong>Prix:</strong> {{ item.price }} € / {{ item.unit }}</p>
        <p><strong>Disponibilité:</strong> {{ item.availability ? 'Disponible' : 'Indisponible' }}</p>
        <p><strong>En soldes:</strong> {{ item.sale ? 'Oui' : 'Non' }}</p>
        <p><strong>Remise:</strong> {{ item.discount }} %</p>
        <p><strong>Commentaires:</strong> {{ item.comments }}</p>
        <p><strong>Propriétaire:</strong> {{ item.owner }}</p>
      </div>
  
      <!-- Ajout des contrôles de quantité -->
      <div class="quantity-controls">
        <button class="decrement-btn" (click)="removeFromCart(item.id)">-</button>
        <span class="quantity">{{ getProductQuantity(item.id) }}</span>
        <button class="increment-btn" (click)="addToCart(item)">+</button>
      </div>
    </div>
  </ng-container>
  

  <ng-container *ngIf="infoType === 'contact'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.nomDuBateau }}">
      </div>
      <h2 class="info-title">{{ item.nomDuBateau }}</h2>
      <div class="info-details">
        <p><strong>Téléphone:</strong> {{ item.telephone }}</p>
        <p><strong>Email:</strong> {{ item.email }}</p>
        <p><strong>Adresse:</strong> {{ item.adresse }}</p>
        <p><strong>Site Web:</strong> <a href="{{ item.siteWeb }}" target="_blank">{{ item.siteWeb }}</a></p>
      </div>
    </div>
  </ng-container>

  <!-- Message si aucune donnée à afficher -->
  <!-- <ng-container *ngIf="!listBateaux && !listRestaurants && !listRecettes">
    <div class="info-section">
      <h2>Aucune donnée à afficher</h2>
      <p>Veuillez sélectionner une catégorie pour afficher les données.</p>
    </div>
  </ng-container> -->
</ion-content>
