<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Info de {{ infoType }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ng-container *ngIf="infoType === 'bateau'">
  <div class="info-section">
    <div class="info-image-container">
      <img class="info-image" [src]="item.url" alt="{{ item.nom }}">
    </div>
    <h2 class="info-title">{{ item.nom }}</h2>
    <h3 class="info-subtitle">{{ item.taille }} - {{ item.Type }}</h3>
    <div class="info-details">
      <p class="info-employes"><strong>Nombre d'employés:</strong> {{ item.nbEmployer }}</p>
      <p class="info-type-peche"><strong>Type de Pêche:</strong> {{ item.typedePache }}</p>
      <p class="info-specialite"><strong>Spécialité:</strong> {{ item.specialite }}</p>
      <p class="info-lieu-peche"><strong>Lieu de Pêche:</strong> {{ item.lieuDePache }}</p>
      <p class="info-anciennete"><strong>Ancienneté:</strong> {{ item.anciente }} ans</p>
      <p class="info-capitaine"><strong>Capitaine:</strong> {{ item.nom_capitaine }}</p>
      <p class="info-poids"><strong>Poids:</strong> {{ item.poids }}</p>
      <p class="info-capacite-peche"><strong>Capacité de Pêche:</strong> {{ item.capacite_peche }}</p>
      <p class="info-description"><strong>Description:</strong> {{ item.description }}</p>
    </div>
  </div>
</ng-container>


  <ng-container *ngIf="infoType === 'restaurant'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.name }}">
      </div>
      <h2 class="info-title">{{ item.name }}</h2>
      <h3 class="info-subtitle">{{ item.city }}</h3>
      <div class="info-details">
        <p class="info-description"><strong>Description:</strong> {{ item.description }}</p>
        <p class="info-signature-dish"><strong>Plat Signature:</strong> {{ item.signature_dish }}</p>
        <p class="info-rating"><strong>Note:</strong> {{ item.rating }} / 5</p>
        <p class="info-global-price"><strong>Prix Global:</strong> {{ item.global_price }} €</p>
        <p class="info-chef"><strong>Chef:</strong> {{ item.chef }}</p>
        <p class="info-type"><strong>Type:</strong> {{ item.type }}</p>
        <p class="info-history"><strong>Historique:</strong> {{ item.history }}</p>
        <p class="info-reviews"><strong>Avis:</strong> {{ item.avis }} avis</p>
      </div>
    </div>
  </ng-container>
  

  <ng-container *ngIf="infoType === 'recette'">
  <div class="info-section">
    <div class="info-image-container">
      <img class="info-image" [src]="item.url" alt="{{ item.nom }}">
    </div>
    <h2 class="info-title">{{ item.nom }}</h2>

    <!-- Ajout de la section Difficulté, Kcal/100g, Quantité -->
    <div class="info-recette-details">
      <div class="recette-summary">
        <div class="recette-item">
          <ion-icon name="bar-chart-outline" class="recette-icon"></ion-icon>
          <span>Difficulté: <strong>{{ item.niveauDeDifficulte }}</strong></span>
        </div>
       <div class="recette-item">
          <ion-icon name="flame-outline" class="kcal-icon"></ion-icon>
          <span>Kcal/100g: <strong>{{ item.calories }}</strong></span>
        </div>


        <div class="recette-item">
          <ion-icon name="people-outline" class="recette-icon"></ion-icon>
          <span>Quantité: <strong>{{ item.nombreDePortions }}</strong></span>
        </div>
      </div>
      <div class="recette-summary">
        <div class="recette-item">
          <ion-icon name="time-outline" class="recette-icon"></ion-icon>
          <span>Préparation: <strong>{{ extractNumber(item.tempsDePreparation) }} min</strong></span>
        </div>
        <div class="recette-item">
            <ion-icon name="flame-outline" class="recette-icon"></ion-icon>
          <span>Cuisson: <strong>{{ extractNumber(item.tempsDeCuisson) }} min</strong></span>
        </div>
        <div class="recette-item">
          <ion-icon name="hourglass-outline" class="recette-icon"></ion-icon>
          <span>Temps total: <strong>{{ getTotalTime(item.tempsDePreparation, item.tempsDeCuisson) }} min</strong></span>
        </div>
      </div>
    </div>

    <div class="info-details">
      <p><strong>Ingrédients:</strong></p>
      <ul>
        <li *ngFor="let ingredient of item.ingredients">
          <ng-container *ngIf="findProductsByFirstWord(ingredient) as produitMatch; else notFound">
            <a (click)="navigateToInfo(produitMatch, 'produit')">{{ ingredient }}</a>
          </ng-container>
          <ng-template #notFound>
            {{ ingredient }}
          </ng-template>
        </li>
      </ul>
      <p><strong>Instructions:</strong></p>
      <ol>
        <li *ngFor="let instruction of item.instructions">{{ instruction }}</li>
      </ol>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="infoType === 'produit'">
  <div class="info-section">
    <div class="info-image-container">
      <img class="info-image" [src]="item.url" alt="{{ item.name }}">
    </div>
    <h2 class="info-title">{{ item.name }}</h2>
    <h3 class="info-subtitle">Catégorie: {{ item.category }}</h3>
    <div class="info-details">
      <p><strong>Prix:</strong> {{ item.price }} € / {{ item.unit }}</p>
      <p><strong>Disponibilité:</strong> {{ item.availability ? 'Disponible' : 'Indisponible' }}</p>
      <p><strong>En soldes:</strong> {{ item.sale ? 'Oui' : 'Non' }}</p>
      <p><strong>Remise:</strong> {{ item.discount }} %</p>
      <p><strong>Commentaires:</strong> {{ item.comments }}</p>
      <p><strong>Propriétaire:</strong> {{ item.owner }}</p>
      <p><strong>Provenance:</strong> {{ item.provenance }}</p> <!-- Ajout de la provenance -->
    </div>
  
    <!-- Ajout des contrôles de quantité -->
    <div class="quantity-controls">
      <button class="decrement-btn" (click)="removeFromCart(item.id)">-</button>
      <span class="quantity">{{ getProductQuantity(item.id) }}</span>
      <button class="increment-btn" (click)="addToCart(item)">+</button>
    </div>
  </div>
</ng-container>

  

  <ng-container *ngIf="infoType === 'contact'">
    <div class="info-section">
      <div class="info-image-container">
        <img class="info-image" [src]="item.url" alt="{{ item.nomDuBateau }}">
      </div>
      <h2 class="info-title">{{ item.nomDuBateau }}</h2>
      <div class="info-details">
        <p><strong>Téléphone:</strong> {{ item.telephone }}</p>
        <p><strong>Email:</strong> {{ item.email }}</p>
        <p><strong>Adresse:</strong> {{ item.adresse }}</p>
        <p><strong>Site Web:</strong> <a href="{{ item.siteWeb }}" target="_blank">{{ item.siteWeb }}</a></p>
      </div>
    </div>
  </ng-container>

  <!-- Message si aucune donnée à afficher -->
  <!-- <ng-container *ngIf="!listBateaux && !listRestaurants && !listRecettes">
    <div class="info-section">
      <h2>Aucune donnée à afficher</h2>
      <p>Veuillez sélectionner une catégorie pour afficher les données.</p>
    </div>
  </ng-container> -->
</ion-content>
