<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="onGoToHome()">
    <ion-icon name="home-outline"></ion-icon>      
        Accueil
    </ion-tab-button>
    <ion-tab-button (click)="navigateToProduits()">
        <ion-icon name="reader-outline"></ion-icon>      
        Products
    </ion-tab-button>
    <ion-tab-button (click)="navigateToRestaurants()">
      <ion-icon name="restaurant-outline"></ion-icon>
      restaurants
    </ion-tab-button>
    <ion-tab-button (click)="navigateToBateaux()">
      <ion-icon name="boat-outline"></ion-icon>
      Bateaux
    </ion-tab-button>
    <ion-tab-button (click)="navigateToRecettes()">
        <ion-icon name="newspaper-outline"></ion-icon>      
        Recettes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

