<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <p>Vous êtes dans {{ listType }}</p>
  <ng-container *ngIf="listType === 'bateaux'">
    <ion-list>
      <ion-card *ngFor="let bateau of listBateaux" (click)="navigateToInfo(bateau,'bateau')">
        <ion-card-header>
          <img src={{bateau.url}} alt="">

          <ion-card-title>{{ bateau.nom }}</ion-card-title>
          <ion-card-subtitle>{{ bateau.taille }} - {{ bateau.Type }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Nombre d'employes: {{ bateau.nbEmployer }}</p>
          <p>Type de Pêche: {{ bateau.typedePache }}</p>
          <p>Specialite: {{ bateau.specialite }}</p>
          <p>Lieu de Pêche: {{ bateau.lieuDePache }}</p>
          <p>Anciennete: {{ bateau.anciente }} ans</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="listType === 'restaurants'" >
    <ion-list>
      <ion-card *ngFor="let restaurant of listRestaurants" (click)="navigateToInfo(restaurant,'restaurant')">
        <ion-card-header>
          <img src={{restaurant.url}} alt="">
          <ion-card-title>{{ restaurant.name }}</ion-card-title>
          <ion-card-subtitle>{{ restaurant.city }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ restaurant.description }}</p>
          <p>Plat Signature: {{ restaurant.signature_dish }}</p>
          <p>Note: {{ restaurant.rating }} / 5</p>
          <p>Prix Global: {{ restaurant.global_price }} €</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="listType === 'recettes'">
    <ion-list>
      <ion-card *ngFor="let recette of listRecettes" (click)="navigateToInfo(recette,'recette')">
        <ion-card-header>
          <img src={{recette.url}} alt="">

          <ion-card-title>{{ recette.nom }}</ion-card-title>
          <ion-card-subtitle>Temps de preparation: {{ recette.tempsDePreparation }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Ingredients: {{ recette.ingredients.join(', ') }}</p>
          <p>Instructions: {{ recette.instructions.join(' | ') }}</p>
          <p>Temps de cuisson: {{ recette.tempsDeCuisson }}</p>
          <p>Nombre de portions: {{ recette.nombreDePortions }}</p>
          <p>Allergenes: {{ recette.allergenes.join(', ') }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!listBateaux && !listRestaurants && !listRecettes">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aucune donnee à afficher</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Veuillez selectionner une categorie pour afficher les donnees.
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
