<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
    </div>
  </ion-tab>
  <ion-tab tab="radio">
    <div id="radio-page">
    </div>
  </ion-tab>
  <ion-tab tab="restaurants">
    <div id="restaurants-page">
    </div>
  </ion-tab>
  <ion-tab tab="Bateaux">
    <div id="Bateaux-page">
    </div>
  </ion-tab>
  <ion-tab tab="recipes">
    <div id="recipes-page">
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="onGoToHome()">
    <ion-icon name="home-outline"></ion-icon>      
        Accueil
    </ion-tab-button>
    <ion-tab-button tab="radio" (click)="navigateToProduits()">
        <ion-icon name="reader-outline"></ion-icon>      
        Products
    </ion-tab-button>
    <ion-tab-button tab="restaurants" (click)="navigateToRestaurants()">
      <ion-icon name="restaurant-outline"></ion-icon>
      restaurants
    </ion-tab-button>
    <ion-tab-button tab="Bateaux" (click)="navigateToBateaux()">
      <ion-icon name="boat-outline"></ion-icon>
      Bateaux
    </ion-tab-button>
    <ion-tab-button tab="recipes" (click)="navigateToRecettes()">
      <ion-icon name="fast-food-outline"></ion-icon>        
      Recettes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>