<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>Bateau Thibault</ion-title>
      <ion-button [routerLink]="['/parametre']">
        <ion-icon name="settings-outline"></ion-icon>
        Paramètre
      </ion-button>
      <ion-button routerLink="/cart">
        Panier
        <span *ngIf="totalItems > 0" class="badge">{{ totalItems }}s</span>
      </ion-button>
  </ion-toolbar>
</ion-header>


